.main-login-container {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(191, 179, 179, 0.549); 
    z-index: 1001;
    /* Ensure it appears above other elements */
}

.login-container {
    position: fixed;
    top: 0; /* Position at the top of the viewport */
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    height: 520px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 219, 219, 0.047); /* Red background with some transparency */
    border-radius: 10px;
    z-index: 1001; /* Set a higher z-index value */
}

.close-button {
    position: absolute;
    top: 14px; 
    right: 22px; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.login-details {
    width: 100%;
    display: flex;
}

.signUp-login {
    width: 50%;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 10px 0 0 10px;
}

.login-img {
    width: 50%;
    height: 520px;
}

.login-img img {
    height: 520px;
    border-radius: 0px 10px 10px 0;
}
