.mymusic-container{
    width: 100%;
    margin-top: 70px;
}
.fa-regular {
    cursor: pointer;
    padding: 5px;
}

#dark .fa-regular{
    color: #ffffff;
}

.mm-nosongs{
   margin-top: 70px;
   font-weight: 500;
}
