.product-curosel{
    position: relative;
    overflow: hidden;
    padding: 26px;
    z-index: 1;
}
.product-container{
    padding: 0 10px ;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.pre-btn,.next-btn{
    border: none;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}
.next-btn{
    right: 0;
}
.pre-btn p,
.next-btn p{
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .pre-btn{
     display: none;
    }
    .next-btn{
     display: none;
    }
 }