.song-container{
    display: flex;
    /* z-index: 1 ; */
}
.custom-link{
    text-decoration: none;
}
.my-card{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.my-card:hover .overlay{
    visibility: visible;
}
.my-card:hover .img-cont{
    filter: brightness(0.75);
}
.img-cont{
    width: 130px;
    height: 130px;
}
.img-cont img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: fill;
}
.song-name{
    margin-top: 6px;
    font-size: 16px;
}
#light .song-name{
    color: #000000e6;
}
#dark .song-name{
    color: #ffffffe6;
}
.overlay{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    background-image: url(https://a10.gaanacdn.com/gn_img/images/play_1621599900.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: calc(50% + 1px) 50%;
}

@media screen and (max-width: 768px) {
    .song-container {
        width: 100%;
      display: flex;
      flex-wrap: wrap; /* Allow cards to wrap onto the next line */
      justify-content: center; /* Center align the cards */
    }
    .my-card{
      margin: 4px;
      width: calc(50% - 8px); /* Set width of each card to 50% minus margin */
      height: 150px;
      max-width: 150px;
      display: flex;
      flex-direction: column;
    }
    .song-name{
       font-size: 10px;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
  }